<div class="container search-form-container">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 d-flex justify-content-center" style="border-bottom: solid; border-width: 1px">
            <form class="example-form">
                <mat-form-field class=" example-full-width" appearance="fill">
                    <mat-label>Enter stock ticker symbol</mat-label>
                    <input #searchBox type="text" placeholder="" aria-label="Stock ticker symbol" matInput
                        [formControl]="control" [matAutocomplete]="auto"
                        (keydown.enter)="handleEnterKeypress(searchBox.value)"
                        oninput="this.value = this.value.toUpperCase()">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option disabled class="loading" *ngIf="loading">
                            <mat-spinner diameter="40"></mat-spinner>
                        </mat-option>
                        <mat-option *ngFor="let option of autocompleteOptions$ | async" [value]="option"
                            (click)="search(option)">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-button style="margin-left: 20px" (click)="search(searchBox.value)">Search</button>
                <button mat-button style="margin-left: 20px"
                    (click)="searchBox.value=''; clearSearchResults()">Clear</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="h2 text-center my-4">STOCK SEARCH</div>
            <!-- <form class="form-inline">
                <input class="" type="text" placeholder="Enter stock ticker symbol">
                <button class="btn"
            </form>
            <p class="text-center">asdf</p> -->
            <div class="input-group mb-5 border border-4 rounded-pill" style="color: #2224ab !important">
                <input type="search" placeholder="Enter stock ticker symbol" aria-describedby="button-addon3"
                    class="form-control form-control-sm bg-none border-0 m-2"
                    style="border-top-color: #2224ab !important">
                <div class="input-group-append border-0 p-1">
                    <button type="button" class="btn btn-link">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="input-group-append border-0 p-1">
                    <button type="button" class="btn btn-link">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <form class="form-inline mx-auto w-25 row rounded-pill">
    <input class="col-8 rounded-pill rounded-left" type="text" placeholder="Enter stock ticker symbol"
        aria-label="Search">
    <button class="butn col-2" type="submit"></button>
    <button class="butn col-2" type="reset"></button>
</form> -->