<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-9">
            <div class="h2 text-center my-4">STOCK SEARCH</div>
            <div class="input-group mb-5 border border-3 rounded-pill align-items-center"
                style="border-color: #2224ab !important">
                <input class="form-control form-control-sm mx-2 my-1 sf-input" #searchBox type="text"
                    placeholder="Enter stock ticker symbol" [formControl]="control" [matAutocomplete]="auto"
                    (keydown.enter)="handleEnterKeypress(searchBox.value)"
                    oninput="this.value = this.value.toUpperCase()" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-sm" (click)="search(searchBox.value)">
                        <i class="fa fa-search" style="color: #2224ab"></i>
                    </button>
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-sm" (click)="searchBox.value=''; clearSearchResults()"
                        style="margin-right: 15px; margin-left: 5px; padding: 0px;">
                        <i class="bi bi-x" style="color: #2224ab; font-size: 1.3rem;"></i>
                    </button>
                </div>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option disabled class="loading" *ngIf="loading">
                        <mat-spinner diameter="40"></mat-spinner>
                    </mat-option>
                    <mat-option *ngFor="let option of autocompleteOptions$ | async" [value]="option.symbol"
                        (click)="search(option.symbol)">
                        {{option.symbol}} | {{option.description}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!rs.success">
        <ngb-alert [type]="error.type">{{error.message}}</ngb-alert>
    </ng-container>
</div>