# Compiled output
stock_portfolio_frontend/dist
stock_portfolio_frontend/tmp
stock_portfolio_frontend/out-tsc
stock_portfolio_frontend/bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
stock_portfolio_frontend/.angular/cache
.sass-cache/
stock_portfolio_frontend/connect.lock
stock_portfolio_frontend/coverage
stock_portfolio_frontend/libpeerconnection.log
testem.log
stock_portfolio_frontend/typings

# System files
.DS_Store
Thumbs.db

# Environment variables
.env