<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="h4 text-center mt-2">Social Sentiments</div>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="col" class="text-muted text-center table-secondary">{{rs.description.name}}</th>
                        <th scope="col" class="text-muted text-center table-secondary">Reddit</th>
                        <th scope="col" class="text-muted text-center table-secondary">Twitter</th>
                    </tr>
                    <tr>
                        <th class="text-muted text-center table-secondary">Total Mentions</th>
                        <th *ngIf="reddit" class="text-center table-default i-table-value">{{reddit.mention}}</th>
                        <th *ngIf="twitter" class="text-center i-table-value">{{twitter.mention | number}}</th>
                    </tr>
                    <tr>
                        <th class="text-muted text-center table-secondary">Positive Mentions</th>
                        <th *ngIf="reddit" class="text-center i-table-value">{{reddit.positiveMention | number}}</th>
                        <th *ngIf="twitter" class="text-center i-table-value">{{twitter.positiveMention | number}}</th>
                    </tr>
                    <tr>
                        <th class="text-muted text-center table-secondary">Negative Mentions</th>
                        <th *ngIf="reddit" class="text-center i-table-value">{{reddit.negativeMention | number}}</th>
                        <th *ngIf="twitter" class="text-center i-table-value">{{twitter.negativeMention | number}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-column-chart></app-column-chart>
        </div>
        <div class="col-md-6">
            <app-spline-chart></app-spline-chart>
        </div>
    </div>
</div>