.custom-background-image {
  background-image:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(../assets/background-graph.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

html, body {
	min-height: 100%;
}

.s-not-footer {
  min-height: calc(100vh - 3rem);
}

.s-footer {
  height: 3rem;
  background-color: #dddddd;
}

a {
  text-decoration:none;
}