<!--
<nav class="navbar navbar-dark bg-primary">
    Navbar content...
</nav>
.bg-primary: This sets the color to the primary color.
.bg-secondary: This sets the color to the secondary color.
.bg-success: This sets the color to the success color.
.bg-danger: This sets the color to the danger color.
.bg-warning: This sets the color to the warning color.
.bg-info: This sets the color to the info color.
.bg-light: This sets the color to the light color.
.bg-dark: This sets the color to the dark color.
.bg-white: This sets the color to the white color.
.bg-transparent: This sets the navbar to be transparent.
-->
<!-- TODO: Add the buttons -->
<nav class="navbar navbar-inverse sticky-top navbar-expand-md navbar-dark bg-primary" aria-label="Page navigation bar"
    style="background-color: #2224ab !important">
    <div class="container-fluid d-flex">
        <a class="navbar-brand ml-1" href="#">Stock Search</a>

        <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbars"
            aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbars">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active text-end me-md-0 me-2">
                    <a class="nav-link pe-2" routerLink="/search/home">Search</a>
                </li>
                <li class="nav-item text-end me-md-0 me-2">
                    <a class="nav-link pe-2" routerLink="watchlist">Watchlist</a>
                </li>
                <li class="nav-item text-end me-md-0 me-2">
                    <a class="nav-link pe-2" routerLink="portfolio">Portfolio</a>
                </li>
            </ul>
        </div>

    </div>
</nav>