<div class="modal-header pb-0 align-items-start">
    <div class="modal-title">
        <div class="h4 mb-0">{{source}}</div>
        <p class="text-muted">{{publishedDate}}</p>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<script language="javascript">
</script>
<div class="modal-body">
    <div class="h3 mb-0">{{title}}</div>
    <p class="mb-0">{{description}}</p>
    <div class="text-muted">For more details click <a href="{{url}}" target="_blank"
            style="text-decoration: none;">here</a></div>
    <div class="card mt-5" style="height: 100%">
        <div class="card-body">
            <div class="my-2">Share</div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{titleEncoded}}&url={{url}}"
                target="_blank"><i class="fa-brands fa-twitter" href="https://www.google.com"
                    style="font-size: 2rem"></i></a>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"
                data-size="small" style="display: inline">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">
                    <i class="fab fa-facebook-square ms-2" style="font-size: 2rem"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0"></script>