<div class="h3 my-5">My Watchlist</div>
<div *ngFor="let w of watchlist; index as i">
    <div class="card my-3" (click)="showResults(i)">
        <div class="card-head text-end">
            <button type="button" class="btn-close btn btn-sm" aria-label="Close"
                style="font-size: 0.5rem; padding-right: 8px" (click)="removeFromWatchlist(i)"></button>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-md-6">
                    <p class="h4">{{w.ticker}}</p>
                    <p class="h6">{{w.name}}</p>
                </div>
                <div class="col-md-6 text-end"
                    [ngClass]="{'text-success': w.changeInPricePercentage > 0, 'text-danger': w.changeInPricePercentage < 0}">
                    <div class="h4 text-end">
                        {{w.currentPrice}}
                    </div>
                    <div class="h6 text-end"
                        [ngClass]="{'text-success': w.changeInPricePercentage > 0, 'text-danger': w.changeInPricePercentage < 0}">
                        <i class="bi bi-caret-up-fill"></i>
                        <span class="sd-change">{{w.changeInPrice.toFixed(2)}}
                            ({{w.changeInPricePercentage.toFixed(2)}}%)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="watchlist.length === 0">
    <ngb-alert class="text-center" [dismissible]="false">
        Currently you don't have any stock in your watchlist.
    </ngb-alert>
</div>